body{
    font-family: Arial, Helvetica, sans-serif;
    color: #4d4d4d;
}

@media screen and (max-width: 900px) {
    body {
        font-size: 12px;
    }
  }

.navbar{
margin-bottom: 30px;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
    color:#616161;
}

.navbar-nav{
 margin-top: 30px;
}

.navbar-brand img{
    width: 211px;
    height: 69px;
    display: block;
    margin: 0 22px 0px 15px;
    outline: none;
    border: none;
}

.card{
    width: 60%; 
    margin: auto;
}

@media screen and (max-width: 900px) {
    .card {
        width: 100%;
    }
  }

.btn-primary{
    background-color: #ad172b;
    border-color: #ad172b;
}

.btn-primary:hover{
    background-color: #ad172b;
    border-color: #ad172b;
}

.btn-primary:active{
    background-color: #ad172b;
    border-color: #ad172b;
}

.btn-primary:focus{
    background-color: #ad172b;
    border-color: #ad172b;
    box-shadow: none;
}

.table-responsive{
    margin-top: 30px; 
}

table#itemList{
    color: #4d4d4d;
}

th{
    font-size: 14px;
}

@media screen and (max-width: 900px) {
    th {
        font-size: 11px;
    }
  }
